.forgotPasswordForm {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    height: 320px;
    width: 650px;
    box-sizing: border-box;
    border: solid;
    border-color: #0064b1;
    border-width: thin;
    text-align: center;
    margin: 0 auto;
}

.fieldsforgotPasswordPage {
    padding-right: 50px;
    flex: 7;
    padding-left: 40px;
    margin-top: 20px;
}
.emailForgotPasswordForm{
    
    margin-top: 20px;
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.newPasswordforgotPasswordForm, .confirmPasswordforgotPasswordForm {
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.buttonsforgotPasswordPage {
    flex: 5;
    display: flex;
    flex-direction: column;
}

.forgotPasswordFormLabel {
    color: #0064b1;
    font-size: 21px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex: 2;
    text-align: left;
}
.forgotPasswordFormInput {
    border: none;
    height: 21px;
    border-bottom: solid;
    border-bottom-color: #0064b1;
    flex: 8;
    max-width: 40%;
}

.cancelButtonforgotPasswordForm, .submitButtonforgotPasswordForm {
    height: 30px;
    border-radius: 25px;
    width: 200px;
    margin: 0 auto;
    background-color: #0064b1;
    color: white;
    margin-top: 23px;
    margin-bottom: 10px;
    flex: 1;
    cursor: pointer;
}
